<div class="journal-page">
  <header class="journal-page-header">
    <h1>
      <%= link_to show_journal_post_path(post.hex, post.slug) do %>
        <%= post.title %>
      <% end %>
    </h1>
    <%= journal_post_time(post) %>
    <%= journal_post_category_links(post) %>
  </header>

  <section class="journal-page-body">
    <% if post.excerpt_html.empty? %>
      <%= post.body_html.html_safe %>
    <% else %>
      <%= post.excerpt_html.html_safe %>
    <% end %>

    <footer>
      <%= link_to show_journal_post_path(post.hex, post.slug) do %>
        <%= fa_icon("long-arrow-right") %>
      <% end %>
    </footer>
  </section>
</div>
