<header class='journal-page-header'>
  <h1>
    <%= link_to journal_post_path(post.hex, post.slug) do %>
      <%= post.title %>
    <% end %>
  </h1>

  <nav class='journal-breadcrumbs'>
    <%= journal_post_breadcrumbs(post, '/') %>
  </nav>

  <div class='journal-page-meta'>
    <span class='journal-page-published-at' data-datetime='<%= post.published_at %>'></span>
  </div>
</header>

<section class='journal-page-body'>
  <%= body.html_safe %>
</section>

<footer class='journal-page-footer'>
  <%= link_to 'Read more', journal_post_path(post.hex, post.slug), class: 'journal-permalink' %>
</footer>