<header class='journal-page-header'>
  <h1>
    <%= link_to show_journal_post_path(post.hex, post.slug) do %>
      <%= post.title %>
    <% end %>
  </h1>

  <div class='journal-page-meta'>
    <nav><%= journal_post_breadcrumbs(post, '/') %></nav>
    <time datetime='<%= post.published_at %>'><%= post.published_at %></span>
  </div>
</header>

<section class='journal-page-body'>
  <%= body.html_safe %>
</section>

<footer class='journal-page-footer'>
  <%= link_to 'Read more', show_journal_post_path(post.hex, post.slug), class: 'journal-permalink' %>

  <% if @disqus_shortname %>
    <%= link_to 'Show comments', '#', class: 'journal-show-comments' %>
  <% end %>
</footer>