<% content_meta_tags @post %>
<% content_for :extra_body_classes do %>post-<%= @post.hex %><% end %>

<%= render partial: 'show_aside' %>
<article class='journal-page'>
  <header class='journal-page-header'>
    <h1>
      <%= link_to show_journal_post_path(@post.hex, @post.slug) do %>
        <%= @post.title %>
      <% end %>
    </h1>
    <%= journal_post_time(@post) %>
    <%= journal_post_category_links(@post) %>
  </header>

  <section class='journal-page-body'>
    <%= @post.body_html.html_safe %>
  </section>
  
  <%= render partial: 'show_footer' %>
</article>
