<% content_meta_tags @post %>

<article class='journal-page'>
  <header class='journal-page-header'>
    <h1>
      <%= link_to show_journal_post_path(@post.hex, @post.slug) do %>
        <%= @post.title %>
      <% end %>
    </h1>
    <%= journal_post_time(@post) %>
    <%= journal_post_category_links(@post) %>
  </header>

  <section class='journal-page-body'>
    <%= @post.body_html.html_safe %>
  </section>

  <!--
  <footer class='journal-page-footer'>
    <% if @disqus_shortname %>
      <%= link_to 'Show comments', '#', class: 'journal-show-comments' %>
    <% end %>
  </footer>
  -->
</article>

<!--
<% if @disqus_shortname %>
  <div class='journal-comments' style='display:none;'>
    <div id='disqus_thread' class='journal-disqus' data-shortname='<%= @disqus_shortname %>'></div>
  </div>
<% end %>
-->
