<header class='journal-page-header'>
  <h1><%= page.title %></h1>

  <div class='journal-page-meta'>
    <nav><%= journal_page_breadcrumbs(page, '/') %></nav>
    <time datetime='<%= page.created_at %>'><%= page.created_at %></span>
  </div>
</header>

<section class='journal-page-body'>
  <%= page.body_html.html_safe %>
</section>